#searchResultPage_content {
    margin-top: 35px;
    margin-bottom: 60px;
    @media(max-width: $screen-sm-max) {
        margin: 23px 12px 30px;
    }
    .tab_bar {
        width: 100%;
        border-bottom: 1px solid #494436;
        height: 41px;
        margin: 0px;
        background-color: white;
        @media (max-width: $screen-sm-max) {
            height: 29px;
            padding-left: 0;
        }
        li {
            float: left;
            padding: 0 4.5%;
            text-align: center;
            line-height: 40px;
            list-style: none;
            display: block;
            height: 42px;
            @media (max-width: $screen-sm-max) {
                height: 31px;
                line-height: 29px;
                padding: 0 7.5%;
            }
            span {
                display: none;
            }
            a {
                text-decoration: none;
                font-size: 16px;
                color: #343434;
                @media (max-width: $screen-sm-max) {
                    font-size: 13px;
                }
            }
        }
        .tab_bar_m {
            display: none;
        }
        .active {
            border-top: 1px solid #494436;
            border-left: 1px solid #494436;
            border-right: 1px solid #494436;
            margin-top: -1px;
            background-color: white;
            a {
                color: #79451b;
                @media (max-width: $screen-sm-max) {
                    font-size: 15px;
                }
            }
            @media (max-width: $screen-sm-max) {
                margin-top: -2px;
            }
        }
    }
    // @media (max-width: $screen-sm-max) {
    //     .tab_bar {
    //         border: none;
    //         height: auto;
    //         padding: 0 12px;
    //         li {
    //             height: 36px;
    //             border: none;
    //             border-bottom: 1px solid #000;
    //             line-height: 36px;
    //             float: none;
    //             width: 100%;
    //             span {
    //                 display: inline-block;
    //                 color: #997644;
    //                 position: absolute;
    //                 right: 15px;
    //                 top: 10px;
    //             }
    //         }
    //         #tab_show {
    //             border: none;
    //             border-bottom: 1px solid #997644;
    //             display: block;
    //             position: relative;
    //         }
    //         .m_show {
    //             display: none !important;
    //         }
    //     }
    // }
    .result_content_span {
        display: block;
        font-size: 14px;
        color: #343434;
        margin: 20px 0 30px;
        line-height: 1;
        text-align: left;
        @media(max-width: $screen-sm-max) {
            margin-top: 20px;
            margin-bottom: 15px;
            font-size: 10px;
            padding: 0;
            line-height: 1;
            color: #727373;
        }
        i {
            display: inline-block;
            font-style: normal;
            margin: 0 .2em;
        }
    }
    .result_content_allbox {
        .result_common_txt {
            margin-bottom: 30px;
            @media(max-width: $screen-sm-max) {
                margin-bottom: 25px;
            }
            img {
                width: 100%;
                @media(max-width: $screen-sm-max) {
                    width: 100%;
                }
            }
            h4 {
                font-size: 16px;
                margin-bottom: 8px;
                color: #343434;
                display: block;
                @media(max-width: $screen-sm-max) {
                    margin: 15px 0 10px;
                    line-height: 1.3;
                }
                a {
                    font-size: 16px;
                    font-weight: 600;
                    @media(max-width: $screen-sm-max) {
                        font-size: 17px;
                    }
                }
            }
            span {
                display: block;
                font-size: 14px;
                line-height: 24px;
                color: #343434;
                @media(max-width: $screen-sm-max) {
                    font-size: 15px;
                    line-height: 25px;
                }
            }
        }
        .m_search_left {
            padding-left: 15px;
            @media(max-width: $screen-sm-max) {
                padding-left: 0;
            }
        }
        .m_search_padding {
            padding-top: 0;
            @media (min-width: $screen-sm-max) {
                padding-top: 1%;
            }
            @media (min-width: 1240px) {
                padding-top: 3%;
            }
            @media (min-width:1720px) {
                padding-top: 4%;
            }
        }
        .result_common_img {
            padding-right: 14px;
            @media(max-width: $screen-sm-max) {
                padding-right: 0px;
            }
        }
        .result_common_list {
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            display: -webkit-flex;
            display: flex;
        }
    }
    .items {
        display: none !important;
    }
    .ok {
        display: block !important;
    }
    .load_more_none {
        display: none;
    }
    .btn-box {
        width: 100%;
        text-align: center;
        .more {
            text-align: center;
            text-decoration: none;
            font-size: 14px;
            @media(max-width: $screen-xs-max) {
                font-size: 16px;
            }
        }
    }
}
