#GettingHereFSParking_guide {
    margin-top: 47px;
    @media (max-width: $screen-xs-max) {
        margin-top: 18px;
    }
    .guide_pcnone{
        display: none;
        @media (max-width: $screen-xs-max){
            display: block;
            margin-top: 0px;
            font-size: 15px;
            color: #343434;
            margin-bottom: 24px;
        }
    }
    .container {
        .row {
            div {
                padding: 0 33px;
                @media (max-width: $screen-xs-max) {
                    padding: 0 15px;
                }
                .parking_guide_box {
                    width: 100%; // height: 270px;
                    border: 4px solid #c70075;
                    padding: 23px 20px 26px 42px;
                    background: #e9ecf4;
                    @media(max-width:$screen-sm-max){
                        padding-left: 16px;
                        padding-right: 0px;
                    }
                    h2 {
                        margin: 0px;
                        font-size: 30px;
                        color: #c70075;
                        @media (max-width: $screen-xs-max){
                            font-size: 20px;
                        }
                    }
                    .parking_guide_txt {
                        padding: 0px;
                        margin-top: 20px;
                        margin-bottom: 22px;
                        @media (max-width: $screen-xs-max){
                            margin-top: 13px;
                            margin-bottom: 0px;
                        }
                        span {
                            display: block;
                            float: left;
                            width: 73px;
                            height: 73px;
                            background: #c70075;
                            font-size: 72px;
                            color: #fff;
                            text-align: center;
                            line-height: 72px;
                            @media (max-width: $screen-xs-max){
                                width: 64px;
                                height: 64px;
                                line-height: 64px;
                                font-size: 62px;
                            }
                        }
                        div {
                            float: left;
                            margin-left: 18px;
                            padding: 0px;
                            @media (max-width: $screen-xs-max){
                                margin-left: 10px;
                            }
                            h4 {
                                font-size: 22px;
                                color: #343434;
                                margin-top: 12px;
                                @media (max-width: $screen-xs-max){
                                    font-size: 16px;
                                    margin-top: 0px;
                                    margin-bottom: 4px;
                                }
                            }
                            p {
                                font-size: 16px;
                                color: #343434;
                                margin-top: 13px;
                                
                                b{
                                    font-weight: normal;
                                }
                                @media (max-width: $screen-xs-max){
                                    font-size: 13px;
                                    margin-top: 0px;
                                    // margin-bottom: 9px;
                                    b{
                                        display: block;
                                    }
                                    i{
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                    span {
                        display: block;
                        font-size: 16px;
                        line-height: 24px;
                        color: #343434;
                        letter-spacing: 0.6px;
                        @media (max-width: $screen-xs-max){
                            font-size: 15px;
                            line-height: 25px;
                            letter-spacing: 0.4px;
                        }
                    }
                }
            }
        }
    }
}
