#banquet_wedding {
    @media (max-width: 991px) {
        margin-top: 30px;
    }
    .swiper-container{
        z-index: 0;
    }
    .container{
        .wedding_btn{
            margin-bottom: 28px;
            
            button{
                width: 258px;
                height: 38px;
                border: 1px solid #794617;
                line-height: 38px;
                text-align: center;
                letter-spacing: 2px;
                font-size: 16px;
                background: #fff;
                color: #794617;
                padding:0;
                &:hover{
                    background: #794617;
                    color: #fff;
                }
            }
            @media(max-width:$screen-xs-max){
                margin-bottom: 25px;
                padding: 0 14px;
                button{
                    width: 100%;
                    font-size: 14px;
                    letter-spacing: 0px;
                }
            }
        }
    }
    .auto-swiper-container {
        &:before {
            content: "";
            position: absolute;
            width: 16%;
            width: calc(16.4% - 30px);
            width: -webkit-calc(16.4% - 30px);
            width: -moz-calc(16.4% - 30px);
            height: 100%;
            background-color: rgba(255, 255, 255, .7);
            left: 0;
            top: 0;
            z-index: 5;
            @media (max-width: 767px) {
                width: calc(9.4% - 3px);
                width: -webkit-calc(9.4% - 3px);
                width: -moz-calc(9.4% - 3px);
            }
        }
        &:after {
            content: "";
            position: absolute;
            width: 16%;
            width: calc(16.4% - 30px);
            width: -webkit-calc(16.4% - 30px);
            width: -moz-calc(16.4% - 30px);
            height: 100%;
            background-color: rgba(255, 255, 255, .7);
            right: 0;
            top: 0;
            z-index: 5;
            @media (max-width: 767px) {
                width: calc(9.4% - 5px);
                width: -webkit-calc(9.4% - 5px);
                width: -moz-calc(9.4% - 5px);
            }
        }
        .swiper-wrapper {
            transition-timing-function: ease-out;
            .swiper-slide {
                width: 67.2%;
                @media (max-width: $screen-xs-max) {
                    width: 81.2%;
                }
                img {
                    width: 100%;
                }
                a {
                    transition: 0.2s;
                }
            }
        }
        .left {
            left: 9.5%;
            top: 50%;
            margin-top: -30px;
            span {
                background-color: rgba(0, 0, 0, 0.6);
                color: #fff;
                border: none;
            }
            @media (max-width:1200px) {
                left: 7.5%;
            }
            @media (max-width:991px) {
                display: block !important;
                left: 8.5%;
            }
        }
        .right {
            right: 9.5%;
            top: 50%;
            margin-top: -30px;
            span {
                background-color: rgba(0, 0, 0, 0.6);
                color: #fff;
                border: none;
            }
            @media (max-width:1200px) {
                right: 7.5%;
            }
            @media (max-width:991px) {
                display: block !important;
                right: 8.5%;
            }
        }
    }
    .swiper-container-wrapper {
        margin-top: 28px;
        @media(max-width:$screen-xs-max){
            margin-top: 25px;
        }
        .caption {
            padding-top: 20px;
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 35px;
            .desc {
                min-height: 44px;
            }
        }
        @media (max-width: $screen-xs-max) {
            .caption {
                padding: 23px 12px 30px 12px !important;
            }
        }
        .control{
            @media (min-width:$screen-sm-max) {
                display:none !important;
            }
        }
        .container-show {
            overflow: hidden;
            position: relative;
            .col-lg-4 {
                padding: 0 15px;
                position: static;
                @media (max-width: $screen-xs-max) {
                    padding: 0;
                    position: relative;
                }
                @media (min-width: $screen-xs-max) and (max-width: $screen-sm-max) {
                    position: relative;
                    &:nth-child(odd) {
                        clear: both;
                    }
                }
                .img {
                    display: block;
                    overflow: hidden;
                }
                img {
                    width: 100%;
                    transition: 0.3s;
                    -moz-transition: 0.3s;
                    &:hover {
                        transform: scale(1.1);
                        -moz-transform: scale(1.1);
                        cursor: pointer;
                    }
                }
                .caption {
                    p {
                        font-size: 14px;
                        color: #343434;
                        line-height: 22px;
                        @media (max-width: $screen-xs-max) {
                            line-height: 22px;
                        }
                    }
                    h4 {
                        font-weight: 600;
                        letter-spacing: 5px;
                        a {
                            font-size: 24px;
                            &:hover {
                                color: #343434;
                                text-decoration: none;
                            }
                            &:focus {
                                color: #343434;
                                text-decoration: none;
                            }
                            @media (max-width:$screen-xs-max) {
                                font-size: 20px;
                            }
                        }
                    }
                    .desc1 {
                        font-size: 14px;
                        line-height: 24px;
                        color: #343434;
                        margin-top: 10px;
                        overflow: hidden;
                        @media (max-width: $screen-sm-max) {
                            font-size: 15px;
                            line-height: 25px;
                        }
                        &:last-of-type {
                            margin-top: 6px;
                        }
                    }
                    .glyphicon-map-marker {
                        font-size: 16px;
                        color: #9a9a9a;
                        margin-right: 10px;
                        vertical-align: middle;
                        margin-top: -3px;
                    }
                    >a {
                        position: absolute;
                        bottom: 0;
                        min-width: 100px;
                        color: #644c2b;
                        @media (max-width: $screen-sm-max) {
                            position:relative;
                            display: inline-block;
                            margin-top: 15px;
                            width: calc(100% - 24px);
                            width: -webkit-calc(100% - 24px);
                        }
                    }
                }
            }
        }
        .swiper-slide {
            position: static;
            .img {
                display: block;
                overflow: hidden;
            }
            img {
                width: 100%;
                transition: 0.3s;
                -moz-transition: 0.3s;
                &:hover {
                    transform: scale(1.1);
                    -moz-transform: scale(1.1);
                    cursor: pointer;
                }
            }
            .caption {
                p {
                    font-size: 14px;
                    color: #343434;
                    line-height: 22px;
                    margin-top: 15px;
                    @media (max-width: $screen-xs-max) {
                        font-size: 15px;
                        line-height: 25px;
                        margin-top: 10px;
                    }
                }
                h4 {
                    font-weight: 600;
                    letter-spacing: 5px;
                    a {
                        font-size: 24px;
                        &:hover {
                            color: #343434;
                            text-decoration: none;
                        }
                        &:focus {
                            color: #343434;
                            text-decoration: none;
                        }
                        @media (max-width:$screen-xs-max) {
                            font-size: 20px;
                        }
                    }
                }
                .desc1 {
                    font-size: 14px;
                    line-height: 24px;
                    color: #343434;
                }
                .glyphicon-map-marker {
                    font-size: 16px;
                    color: #9a9a9a;
                    margin-right: 10px;
                    vertical-align: middle;
                    margin-top: -3px;
                }
                >a {
                    position: absolute;
                    bottom: 0;
                    min-width: 100px;
                    color: #644c2b;
                    @media (max-width: $screen-sm-max) {
                        // position:relative;
                        // display:inline-block;
                        // margin-top: 15px;
                        width: calc(100% - 24px);
                        width: -webkit-calc(100% - 24px);
                    }
                }
            }
        }
        .cols-3 {
            .swiper-slide {
                @media (min-width: $screen-sm-min) {
                    // width: 382px
                }
            }
        }
    }
}