#rewards_introduce {
    .info{
        font-size: 16px;
            color: #000;
            line-height: 30px;
    }
    @media (max-width: $screen-sm-max) {
        margin-top: 36px !important;
        .mett_in_btn {
            margin-top: 21px;
        }
        .info {
            margin-top: 9px!important;
            margin-bottom: 0px!important;
            padding: 0 12px;
                font-size: 15px;
                line-height: 25px;
                color: #000;
            
        }
        h3 {
            font-weight: 500!important;
        }
    } //   @extend #common_introduce;
    .btn-info {
        @media (max-width: 991px) {
            margin-top: 0;
            display: block;
            margin: 0 37px;
            font-size: 17px;
            line-height: 38px;
            padding: 0;
        }
    }
}