#rewards_nav {
    margin-top: 54px;
    @media(max-width: $screen-xs-max) {
        margin-top: 32px;
    }
    .row {
        margin-top: 22px;
        div {
            padding-right: 32px;
            @media (max-width: $screen-sm-max) {
                margin-bottom:10px;
                padding-right: 15px;
                padding-left: 15px;
            }
            position: relative;
            span {
                position: absolute;
                color: #bbb;
                top: 9px;
                left: 12px;
                @media(max-width: $screen-sm-max) {
                    left: 27px;
                }
            }
            .selected {
                // color:#efefef;                
                @media(max-width: $screen-xs-max) {
                    padding: 0 32%;
                }
                text-indent: 2em;
                height: 30px;
                line-height: 30px;
                width: 100%;
                option {
                    color: black;
                    text-align: center;
                }
            }
        }
        div:nth-child(2) {
            @media(min-width: $screen-md-min) {
                padding-left:32px;
                padding-right: 0px;
            }
            span {
                left: 44px;
                @media(max-width: $screen-sm-max) {
                    left: 27px;
                }
            }
        }
    }
    .tab_bar {
        width: 100%;
        border-bottom: 1px solid #79451b;
        height: 42px;
        margin: 0px;
        background-color: white;
        li {
            float: left;
            width: 19%;
            text-align: center;
            line-height: 40px;
            list-style: none;
            display: block;
            height: 42px;
            span {
                display: none;
            }
            a {
                text-decoration: none;
                font-size: 16px;
                color: #343434;
            }
        }
        .tab_bar_m {
            display: none;
        }
        .pc_hide {
            display: none !important;
            @media(max-width: $screen-sm-max) {
                display: block !important;
            }
        }
        .active {
            border-top: 1px solid #79451b;
            border-left: 1px solid #79451b;
            border-right: 1px solid #79451b;
            margin-top: 0px;
            background-color: white;
            a {
                font-size: 20px;
                color: #79451b;
            }
        }
    }
    @media (max-width: $screen-sm-max) {
        .tab_bar {
            border: none;
            height: auto;
            padding: 0 12px;
            li {
                height: 36px;
                border: none;
                border-bottom: 1px solid #000;
                line-height: 36px;
                float: none;
                width: 100%;
                span {
                    display: inline-block;
                    color: #79451b;
                    position: absolute;
                    right: 15px;
                    top: 10px;
                }
            }
            #tab_show {
                border: none;
                border-bottom: 1px solid #79451b;
                display: block;
                position: relative;
            }
            .m_show {
                display: none !important;
            }
            .active {
                border: none;
                border-bottom: 1px solid #000;
            }
        }
    }
    .rewards_all_1 {
        // margin-top: 0px;
        #rewards_card {
            margin-top: 0px;
            @media(max-width: $screen-xs-max) {
                padding: 0 15px;
                margin-top: 0px;
            }
            .container {
                .row {
                    display: table;
                    height: 100%;
                    position: relative;
                    .col-lg-10 {
                        position: relative;
                        height: 100%;
                        display: table;
                        p {
                            display: table-cell;
                            vertical-align: middle;
                        }
                    }
                    div {
                        text-align: left;
                        @media(max-width: $screen-xs-max) {
                            &:nth-child(1) {
                                padding-right: 12px;
                            }
                            &:nth-child(2) {
                                padding-left: 12px;
                            }
                        }
                        img {
                            width: 154px;
                            height: auto;
                            @media(max-width: $screen-xs-max) {
                                width: 100%;
                            }
                        }
                        p {
                            font-size: 14px;
                            line-height: 30px;
                            color: #343434;
                            margin-top: 0px;
                            letter-spacing: 0.8px; // margin-left: -15px;
                            @media(max-width: $screen-xs-max) {
                                margin: 0px;
                                font-size: 15px;
                                line-height: 25px;
                            }
                        }
                    }
                }
                @media(max-width:$screen-sm-max) {}
            }
        }
        #rewards_icon {
            margin-top: 24px;
            @media (max-width: $screen-xs-max) {
                padding: 0 15px;
            }
            .row {
                margin-top: 32px;
                @media (max-width: $screen-xs-max) {
                    margin-top: 0px;
                }
                .all_box {
                    //    height: 79px;
                    margin-top: 24px; //    overflow: hidden;
                    @media(min-width: $screen-sm-max) {
                        padding-left: 0px;
                    }
                    @media(max-width: $screen-md-max) {
                        &:nth-child(odd) {
                            clear: both;
                        }
                    }
                    @media (max-width: $screen-xs-max) {
                        padding-left: 0px;
                        display: table;
                        height: 100%;
                        margin-top: 0px;
                    }
                    &:nth-child(1) {
                        padding-left: 0px;
                    }
                    &:nth-child(2) {
                        img {
                            // margin-top: 13px;
                            @media (max-width: $screen-xs-max) {
                                margin-top: 0px;
                            }
                        }
                    }
                    .icon_img_box {
                        width: 70px;
                        height: 70px;
                        float: left;
                        @media (max-width: $screen-xs-max) {
                            text-align: center;
                            line-height: 70px;
                            padding-top: 0px;
                            margin-bottom: 0px;
                        }
                        img {
                            max-width: 70px;
                            height: auto;
                            max-height: 70px;
                            @media (max-width: $screen-xs-max) {
                                max-width: 40px;
                                max-height: 40px;
                                vertical-align: top;
                            }
                        }
                    }
                    .rewards_icon_box {
                        // float: left;
                        overflow: hidden;
                        padding-left: 30px; // padding-top: 24px;
                        @media (max-width: $screen-xs-max) {
                            display: table-cell;
                            vertical-align: top;
                            float: none;
                        }
                        h4 {
                            font-size: 16px;
                            color: #343434;
                            @media (max-width: $screen-xs-max) {
                                font-size: 14px;
                            }
                        }
                        p {
                            margin-top: 8px;
                            font-size: 14px;
                            line-height: 25px;
                            max-width: 270px;
                            @media (max-width: $screen-xs-max) {
                                font-size: 14px;
                                line-height: 20px;
                                margin-top: 6px;
                            }
                        }
                        @media (max-width: $screen-xs-max) {
                            padding-top: 0px;
                            padding-left: 0px;
                            width: 100%;
                            padding-left: 16px;
                        }
                    }
                }
            }
            @media(max-width:$screen-sm-max) {}
        }
        #rewards_content {
            margin-top: 0px;
            margin-bottom: 58px;
            @media (max-width: $screen-xs-max) {
                padding: 0 15px;
                margin-bottom: 29px;
            }
            .container {
                h4 {
                    font-size: 16px;
                    color: #79451b;
                    margin-top: 38px;
                    @media (max-width: $screen-xs-max) {
                        margin-top: 30px;
                        font-size: 17px;
                        line-height: 20px;
                        margin-bottom: 8px;
                    }
                }
                .row {
                    div {
                        padding-left: 20px;
                        &:nth-child(1) {
                            padding-left: 0px;
                        }
                        @media (max-width: $screen-xs-max) {
                            padding-left: 0px;
                        }
                        ul {
                            margin-top: 17px;
                            margin-bottom: 0px;
                            @media (max-width: $screen-xs-max) {
                                margin-top: 0px;
                            }
                            li {
                                font-size: 14px;
                                line-height: 30px;
                                color: #343434;
                                @media (max-width: $screen-xs-max) {
                                    line-height: 22px;
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                    @media(max-width: $screen-xs-max) {}
                }
                p {
                    margin-top: 56px;
                    font-size: 14px;
                    color: #343434;
                    letter-spacing: 0.8px;
                    @media (max-width: $screen-xs-max) {
                        margin-top: 24px;
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .rewards_all_2 {
        .member-table {
            table {
                width: 100%;
                tr {
                    border-bottom: 2px solid #bbb;
                    @media (max-width: $screen-sm-max) {
                        border-width: 1px;
                    }
                    th {
                        background-color: #79451b;
                        font-size: 24px;
                        color: #fff;
                        width: 86px;
                        text-align: center;
                        font-weight: normal;
                        @media (max-width: $screen-sm-max) {
                            width:16px;
                            font-size: 9px;
                        }
                        &:first-child {
                            width: auto;
                            text-align: left;
                            padding-left: 25px;
                            @media (max-width: $screen-sm-max) {
                                font-size: 15px;
                                padding-left: 10px;
                            }
                        }
                    }
                    td {
                        border-left: 1px solid #fff;
                        font-size: 24px;
                        color: #79451b;
                        text-align: center;
                        @media (max-width: $screen-sm-max) {
                            font-size: 8px;
                        }
                        span {
                            vertical-align: middle;
                        }
                        &:first-child {
                            border: none;
                            text-align: left;
                            p {
                                font-size: 18px !important;
                                color: #343434 !important;
                                margin-top: 0 !important;
                                line-height: 1.3;
                                padding: 10px 0;
                                margin-left: 20px;
                                padding-left: 20px;
                                position: relative;
                                @media (max-width: $screen-sm-max) {
                                    font-size: 14px !important;
                                    margin-left: 5px;
                                    padding-left: 9px;
                                    span {
                                        font-size: 8px;
                                    }
                                }
                                &:before {
                                    content: "";
                                    position: absolute;
                                    width: 5px;
                                    height: 5px;
                                    border-radius: 50%;
                                    background-color: #000;
                                    top: 19px;
                                    left: 0;
                                    @media (max-width: $screen-sm-max) {
                                        top:16px;
                                    }
                                }
                            }
                        }
                        &:nth-child(even) {
                            background-color: #efe6ec;
                        }
                        &:nth-child(3) {
                            background-color: #e0ceda;
                        }
                        &:nth-child(5) {
                            background-color: #e0ceda;
                        }
                    }
                    &:first-child {
                        background-color: #79451b;
                        height: 52px;
                        border-bottom: none;
                        @media (max-width: $screen-sm-max) {
                            height: 43px;
                        }
                    }
                }
            }
        }
    }
    .rewards_box_none {
        display: none;
    }
}