#privacyPolicy_content {
    margin-top: 223px;
    @media (max-width: $screen-xs-max) {
        margin-top: 127px;
        padding: 0 13px;
    }
    .container {
        .row {
            div {
                .pri_title_h {
                    font-size: 50px;
                    color: #343434;
                    margin: 0px;
                     @media (max-width: $screen-xs-max){
                         font-size: 40px;
                     }
                }
                .pri_title_p {
                    font-size: 24px;
                    color: #343434;
                    line-height: 30px;
                    margin-top: 37px;
                     @media (max-width: $screen-xs-max){
                         font-size: 25px;
                         margin-top: 45px;
                     }
                }
                .pri_title_span {
                    display: block;
                    font-size: 16px;
                    color: #343434;
                    margin-top: 28px;
                    a{
                        color: #997542;
                    }
                    @media (max-width: $screen-xs-max){
                        font-size: 15px;
                        line-height: 25px;
                        margin-top: 24px;
                    }
                }
                .pri_common{
                    margin-top: 36px;
                    @media (max-width: $screen-xs-max){
                        margin-top: 25px;
                    }
                    h2{
                        font-size: 24px;
                        color: #343434;
                        margin: 0px;
                        @media (max-width: $screen-xs-max){
                            font-size: 25px;
                            line-height: 25px;
                            margin-bottom: 5px;
                        }
                    }
                    span{
                        display: block;
                        font-size: 16px;
                        color: #343434;
                        margin-top: 7px;
                        line-height: 30px;
                        a{
                            color: #997542;
                        }
                        @media (max-width: $screen-xs-max){
                            font-size: 15px;
                            line-height: 25px;
                            margin-top: 0px;
                        }
                    }
                    ol{
                        padding-left: 0px;
                        li{
                            list-style: none;
                            font-size: 16px;
                            line-height: 30px;
                            color: #343434;
                            overflow: hidden;
                            span{
                                display: inline;
                                margin-top: 0px;
                            }
                            p{
                                margin-top: 0px;
                                display: inline;
                            }
                            @media (max-width: $screen-xs-max){
                                font-size: 15px;
                                line-height: 25px;
                                span{
                                    display: inline-block;
                                    height: 100%;
                                    float: left;
                                }
                                p{
                                    
                                    margin-top: 0px;
                                    overflow: hidden;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}