#hotel_more{
	@extend #hp_offers;
	@media (max-width:$screen-xs-max) {
		padding-bottom: 13px;
	}
	.control{
		top:32%;
		@media (max-width:$screen-xs-max) {
			top:25.5%;
		}
	}
  .caption{
  	padding-bottom: 0 !important;
		>p{
			font-size: 14px;
			color:#343434;
			line-height: 22px;
			overflow:hidden;
			@media (min-width:$screen-xs-max){
				margin-bottom: 20px;
			}
		}
	}
}
