#beware_content {
    margin-top: 216px;
    @media(max-width: $screen-sm-max) {
        padding: 0 15px;
        margin-top: 100px;
    }
    .container {
        .row {
            h2 {
                font-size: 50px;
                color: #343434;
                margin: 0px;
                margin-bottom: 40px;
                @media(max-width: $screen-sm-max) {
                    font-size: 40px;
                    line-height: 47px;
                    color: #282828;
                    margin-bottom: 40px;
                }
            }
            .beware_module_first {
                h4 {
                    font-size: 24px;
                    color: #111111;
                    margin-bottom: 32px;
                    @media(max-width: $screen-sm-max) {
                        font-size: 25px;
                        color: #343434;
                        margin-bottom: 26px;
                    }
                }
                p {
                    margin: 0;
                    padding: 0;
                    font-size: 16px;
                    color: #343434;
                    margin-bottom: 32px;
                    line-height: 26px;
                    @media(max-width: $screen-sm-max) {
                        font-size: 15px;
                        line-height: 25px;
                        margin-bottom: 26px;
                    }
                }
                span {
                    font-size: 16px;
                    line-height: 26px;
                    color: #343434;
                    a {
                        color: #794617;
                    }
                    @media(max-width:$screen-sm-max) {
                        font-size: 15px;
                        line-height: 25px;
                        a {
                            color: #343434;
                        }
                    }
                }
            }
            .beware_module_last {
                margin-top: 52px;
                @media(max-width: $screen-sm-max) {
                    margin-top: 60px;
                }
                h4 {
                    font-size: 24px;
                    color: #111111;
                    margin-bottom: 32px;
                    @media(max-width: $screen-sm-max) {
                        font-size: 25px;
                        color: #343434;
                        margin-bottom: 26px;
                    }
                }
                p {
                    margin: 0px;
                    padding: 0px;
                    font-size: 16px;
                    color: #343434;
                    margin-bottom: 32px;
                    line-height: 26px;
                    @media(max-width: $screen-sm-max) {
                        font-size: 15px;
                        line-height: 25px;
                        margin-bottom: 26px;
                    }
                }
                ul {
                    margin-top: 0px;
                    padding-left: 0px;
                    list-style: none;
                    li {
                        font-size: 16px;
                        color: #343434;
                        margin-bottom: 32px;
                        line-height: 26px;
                        i{
                            font-size: 20px;
                            margin-right: 4px;
                        }
                        a {
                            color: #794617;
                        }
                        @media(max-width:$screen-sm-max){
                            font-size: 15px;
                            line-height: 25px;
                            margin-bottom: 26px;
                            i{
                                font-size: 18px;
                            }
                            a{
                                color: #343434;
                            }
                        }
                    }
                    
                }
            }
        }
    }
}